[submodule "CAMediaTimingFunctionVisualizer/CustomMediaTimingFunction"]
	path = CAMediaTimingFunctionVisualizer/CustomMediaTimingFunction
	url = https://github.com/honcheng/CustomMediaTimingFunction.git
